<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @bloque.tipos_bloque_id %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @bloque.descripcion %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @bloque.estados_bloque_id %>
</p>

<p>
  <strong>Localidad:</strong>
  <%= @bloque.localidad_id %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @bloque.ubicacion_id %>
</p>

<p>
  <strong>Custodio:</strong>
  <%= @bloque.user_id %>
</p>

<%= link_to 'Edit', edit_bloque_path(@bloque) %> |
<%= link_to 'Back', bloques_path %>
