<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			Parametrizaciones
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2 col-sm-3 col-xs-6">
				<%= link_to tipos_bloques_path, style: 'text-decoration: none;' do %> 	
					<div id="smallBox">
						Tipos de Bloque
					</div>
				<% end %>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-6">
				<%= link_to estados_bloques_path, style: 'text-decoration: none;' do %>
					<div id="smallBox">
						Estados de Bloque
					</div>
				<% end %>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-6">
				<%= link_to tipos_documentos_path, style: 'text-decoration: none;' do %>
					<div id="smallBox">
						Tipos de Documento
					</div>
				<% end %>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-6">
				<%= link_to estados_documentos_path, style: 'text-decoration: none;' do %>
					<div id="smallBox">
						Estados de Documento
					</div>
				<% end %>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-6">
				<%= link_to localidads_path, style: 'text-decoration: none;' do %>
					<div id="smallBox">
						Localidades
					</div>
				<% end %>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-6">
				<%= link_to ubicacions_path, style: 'text-decoration: none;' do %>
					<div id="smallBox">
						Ubicaciones
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			Creacion de Documentos
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2 col-sm-3 col-xs-6">
				<%= link_to new_bloque_path, style: 'text-decoration: none;' do %>
					<div id="smallBox">
						Nuevo Bloque
					</div>
				<% end %>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-6">
				<%= link_to new_documento_path, style: 'text-decoration: none;' do %>
					<div id="smallBox">
						Nuevo Documento
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			Busqueda de Documentos
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2 col-sm-3 col-xs-6">
				<div id="smallBox">
					Test
				</div>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-6">
				<div id="smallBox">
					Nuevo Documento
				</div>
			</div>
		</div>
	</div>
</div>