<%= form_for(@localidad) do |f| %>
  <% if @localidad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@localidad.errors.count, "error") %> prohibited this localidad from being saved:</h2>

      <ul>
      <% @localidad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion, class: "form-control"%>
  </div>
  <div class="actions form-group">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
