<%= form_for(@documento) do |f| %>
  <% if @documento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@documento.errors.count, "error") %> prohibited this documento from being saved:</h2>

      <ul>
      <% @documento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :tipos_documento_id %><br>
    <%= f.collection_select :tipos_documento_id, TiposDocumento.all, :id, :descripcion, {prompt: "Selecciona un tipo"}, {class: "form-control"} %>
  </div>
  <div class="field form-group">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :estados_documento_id %><br>
    <%= f.collection_select :estados_documento_id, EstadosDocumento.all, :id, :descripcion, {prompt: "Selecciona un estado"}, {class: "form-control"} %>
  </div>
  <div class="field form-group">
    <%= f.label :localidad_id %><br>
    <%= f.collection_select :localidad_id, Localidad.all, :id, :descripcion, {prompt: "Selecciona una localidad"}, {class: "form-control"} %>
  </div>
  <div class="field form-group">
    <%= f.label :ubicacion_id %><br>
    <%= f.collection_select :ubicacion_id, Ubicacion.all, :id, :descripcion, {prompt: "Selecciona una ubicacion"}, {class: "form-control"} %>
  </div>
  <div class="field form-group">
    <%= f.label :user_id %><br>
    <%= f.collection_select :user_id, User.all, :id, :name, {prompt: "Selecciona un custodio"}, {class: "form-control"} %>
  </div>
  <div class="field form-group">
    <%= f.label :bloque_id %><br>
    <%= f.collection_select :bloque_id, Bloque.all, :id, :descripcion, {prompt: "Selecciona un bloque"}, {class: "form-control"} %>
  </div>
  <div class="actions form-group">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
