<p id="notice"><%= notice %></p>

<h1>Documentos</h1>



<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Descripcion</th>
      <th>Estado</th>
      <th>Localidad</th>
      <th>Ubicacion</th>
      <th>Custodio</th>
      <th>Bloque</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @documentos.each do |documento| %>
      <tr>
        <td><%= documento.tipos_documento.descripcion %></td>
        <td><%= documento.descripcion %></td>
        <td><%= documento.estados_documento.descripcion %></td>
        <td><%= documento.localidad.descripcion %></td>
        <td><%= documento.ubicacion.descripcion %></td>
        <td><%= documento.user.name %></td>
        <td><%= documento.bloque.id %></td>
        <td><%= link_to 'Editar', edit_documento_path(documento) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="center">
	<%= will_paginate @documentos, renderer: BootstrapPagination::Rails %>
</div>

<%= link_to 'Regresar', archivo_path %>
