<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @documento.tipos_documento_id %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @documento.descripcion %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @documento.estados_documento_id %>
</p>

<p>
  <strong>Localidad:</strong>
  <%= @documento.localidad_id %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @documento.ubicacion_id %>
</p>

<p>
  <strong>Custodio:</strong>
  <%= @documento.user_id %>
</p>

<p>
  <strong>Bloque:</strong>
  <%= @documento.bloque_id %>
</p>

<%= link_to 'Edit', edit_documento_path(@documento) %> |
<%= link_to 'Back', documentos_path %>
