<%= form_for(@estados_documento) do |f| %>
  <% if @estados_documento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estados_documento.errors.count, "error") %> prohibited this estados_documento from being saved:</h2>

      <ul>
      <% @estados_documento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion, class: "form-control" %>
  </div>
  <div class="actions form-group">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
