<p id="notice"><%= notice %></p>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			Estados de Documento
		</div>
	</div>
	<div class="panel-body">
		<table class="table table-condensed table-hover">
		  <thead>
		    <tr>
		      <th>Descripcion</th>
		      <th colspan="3"></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @estados_documentos.each do |estados_documento| %>
		      <tr>
		        <td><%= estados_documento.descripcion %></td>
		        <td><%= link_to 'Show', estados_documento %></td>
		        <td><%= link_to 'Edit', edit_estados_documento_path(estados_documento) %></td>
		        <td><%= link_to 'Destroy', estados_documento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
	<div class="panel-footer">
		<%= link_to 'Nuevo Estado de Documento', new_estados_documento_path %> |
		<%= link_to 'Regresar', archivo_path %>
	</div>
</div>



